#!/bin/sh
#
# ~/.xprofile
#

session=${1:-i3}

# echo $session > ~/xprofile.log

nvidia-settings --load-config-only

case $session in
xmonad)
	compton -bc
	[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
	xsetroot -cursor_name left_ptr
	xscreensaver -no-splash &
	urxvtd -f -o -q
	trayer --edge top --align right --expand true --SetDockType true --SetPartialStrut true --tint 0x000000 --alpha 0 --transparent true --height 17 --width 10 &
	feh --no-fehbg --bg-scale ~/Pictures/desktop-background.png
	;;
i3)
	compton -bc
	[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
	copyq &
	pasystray &
	xautolock -time 15 -locker i3lock &
	urxvtd -f -o -q
	feh --no-fehbg --bg-scale ~/Pictures/desktop-background.png
	;;
cinnamon-session-cinnamon)
	[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
	urxvtd -f -o -q
	;;
icewm-session)
	[[ -f ~/.Xresources ]] && xrdb -merge ~/.Xresources
	urxvtd -f -o -q
	;;
*)
	exec $1
	;;
esac
